[Unit]
Description=rkwebscr HTTP proxy
Requires=rkwebscr-http.socket
After=rkwebscr-http.socket

[Service]
ExecStart=/usr/lib/systemd/systemd-socket-proxyd 127.0.0.1:8080
NoNewPrivileges=true
